/* .piano {
    border-style: solid
}

.blackNote {
    background-color: black;
    color: white
}
.whiteNote {
    background-color: white;
    color: black
}

.blackArea {
    background-color: rgb(66, 66, 66);
    color: white
}
.whiteArea {
    background-color: rgb(255, 255, 255);
    color: black
}
.playingNotes {
    background-color: greenyellow; 
}*/

.normalSegment {
    background-color: grey;
    width: 10px;
    height: 1vh;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.pianoRollSegment {
    background-color: greenyellow;
    width: 1vw;
    height: 1vh;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
